* {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

div.indication-container {
    height: auto;
    width: 100vw;

    background-color: black;
}

div.indication {
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

div.indication-titles {
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div.indication * {
    width: calc(100%/7);
    text-align: center
}

div.indication button {
    margin: calc(100%/7 - 1%);
    margin: 0 .5% 0 .5%
}

div.indication-titles span {
    width: calc(100%/7);
    text-align: center;
}
