* {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

div.indication-container {
    height: auto;
    width: 100vw;

    background-color: black;
}

div.indication {
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
